.button {
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding: 1em 2em;
  color: $dark-grey;
  border-style: none;
  background: $gradient-pink;
  transition: box-shadow 0.3s ease-in-out, background 0.2s ease-in-out;
  outline: none;
  min-width: 10em;

  &.secondary {
    background: $white;

    &:active {
      background: #efefef;
    }
  }

  &:active {
    background: $pink;
  }

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.1);
  }
}
