@import "colors";

@import "controls/button";
@import "controls/checkbox";
@import "controls/loader";
@import "controls/select";
@import "controls/input";

.toast {
  background-color: $dark-grey;
  color: $white;
  padding: 1em;
  position: absolute;
  bottom: 2em;
  right: 2em;
  display: inline;
  font-size: 0.8em;
}

.form-title {
  font-size: 1.4em;
  display: inline;
  margin-top: 1em;
  font-weight: 500;
}

.project-admin {
  width: 20em;
  height: 20em;
  background-color: $light-grey;
  transition: box-shadow 0.3s ease-in-out, background 0.2s ease-in-out;
  margin-right: 1em;

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.1);
  }
}

.project-admin-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-admin-description {
  font-size: 1em;
  font-weight: 300;
  word-wrap: break-spaces;
}

.project-admin-title {
  font-size: 1.4em;
  font-weight: 500;
  display: inline;
}

.project-admin-id {
  font-size: 0.7em;
  color: $grey;
  display: inline;
}

.project-admin-tag {
  font-size: 1em;
  color: $grey;
  text-transform: lowercase;
  display: inline-block;
  margin-right: 0.3em;
}

.project-admin-image-container {
  display: inline-block;
}

.project-admin-image {
  width: 7em;
}

.project-admin-image-delete {
  position: relative;
  top: -5.7em;
  right: 1.3em;
}

.project-admin-buttons {
  position: relative;
  bottom: 0;
  right: 0;
  flex-grow: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.project-admin-icon {
  width: 1em;
  margin-left: 0.5em;
}

.auth-welcome {
  margin-top: 5em;
  margin-bottom: 2em;
  color: $dark-grey;
  font-weight: 500;
}
