.react-select__control {
  border-radius: 0 !important;
  border-color: $grey !important;
  background: transparent !important;
  max-width: 31em;
}

.react-select__control--is-focused {
  border-color: $red !important;
  box-shadow: none !important;
}

.react-select__multi-value {
  border-radius: 0 !important;
  background: $light-grey !important;
}

.react-select__multi-value__remove:hover {
  background-color: $red !important;
  color: $dark-pink !important;
  border-radius: 0 !important;
}
